.messageBubble {
  border-radius: 1.75rem;
  padding: 0.75rem 1.25rem;
  max-width: 25rem;

  color: white;
  background-color: var(--primary);

  &.alternativeView {
    background-color: var(--primary-light);
    color: black;
  }

  p {
    word-break: break-word;
  }
}
