.pageWrapper {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../../assets/images/chat-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem;
}
